@media screen and (min-width: 1025px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .logo-title {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 1rem;
    }

    nav ul {
        justify-self: end;
        color: black;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .hamburger {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
    }

    .hamburger.show {
        content: "\2630";
        font-size: 1.5rem;
    }

    .hamburger.show::after {
        content: "\00D7";
        font-size: 2rem;
    }


    .grid-container {
        display: grid;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card8";

    }

    .card img:hover {
        filter: brightness(1.2);
        transform: scale(1.05);
        transition: all 0.3s ease;

    }

}