* {
  margin: 5px;
}

header {
  background-color: #eee;
  color: black;
  display: grid;
  align-items: center;
  /* justify-content: space-between; */
  align-items: center;

}

header img {
  display: block;
  width: 60px;
  height: auto;
}

.logo {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.5rem;
}

nav {
  grid-column: 1/4;
  display: grid;
}

nav.show {
  display: grid;
}

.navigation {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.7rem;
  text-align: center;
  list-style: none;
  padding: 1rem 0;
  color: rgb(56, 56, 56);
}

nav a {
  display: flex;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
}

nav .current {
  background-color: darkgrey;
}

nav a:hover {
  background-color: grey;
}

.hamburger {
  width: 44px;
  height: 44px;
  grid-column: 3/4;
  justify-self: end;
  border: 2px solid white;
  cursor: pointer;
}

.hamburger::after {
  content: "\2630";
  font-size: 1.5rem;
}

.hamburger.show::after {
  content: "\00D7";
  font-size: 2rem;
}

.view-toggle button {
  margin: 0 0.5rem;
  padding: 0.6rem 1rem;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.discover-grid {
  display: grid;
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7"
    "card8";
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}

figure {
  margin: 0 0 0.5rem;
}

button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.visitor-msg {
  background: #eef;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.discover-grid {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "card1"
    "card2";
}

/* @media (min-width: 641px) {
  .discover-grid {
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .discover-grid {
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
    grid-template-columns: repeat(4, 1fr);
  }
}

.card:hover img {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 640px) {
  .card:hover img {
    transform: none;
    box-shadow: none;
  }
} */

/* For 8 cards */
/* grid-template-areas:
  "card1"
  "card2"
  "card3"
  "card4"
  "card5"
  "card6"
  "card7"
  "card8"; */



footer {
  background-color: #eee;
  padding: 1rem 10px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: #ccc solid 1px;
  border-radius: 22px;
}

.social img {
  width: 22px;
  height: 22px;
}