*{
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  --lavender-web: #e3dfffff;
  --dark-purple: #160c28ff;
  --ultra-violet: #6c698dff;
  --verdigris: #50a2a7ff;
  --night: #01110aff;
  margin: 5px;
}


header, nav, main {
  padding:1rem;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #160c28ff;
  background-color: #e3dfffff;
}
/*COME BACK*/
header img {
  display: block;
  width: 50px;
  height: auto;
}

nav {
  display: none;
  flex-direction: column;
}

nav.show {
  display: flex;
}

nav a {
  padding: .4rem;
  color: #160c28ff;
  text-decoration: none;
  border-bottom: solid 1px #160c28ff;
}

nav a:hover {
  background-color: #6c698dff;
}
/*COme back*/
.hamburger {
  border: none;
  cursor: pointer;
}

.hamburger::after {
  content: "\2630";
  font-size: 1.5rem;
}

.hamburger.show::after {
  content: "\00D7";
  font-size: 2rem;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  margin: 1rem 0;
}

h2 {
  width: 100%;
  background-color: #e3dfffff;
  color: #160c28ff;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.filters{
  display:flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

#courses{
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border: 0.2em solid #e3dfffff;
  gap: 1rem;
}
.course-card{
  border: 1px;
  padding: 1rem;
  border-color: #160c28ff;
  border-radius: 8px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}

button {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #e3dfffff;
  color: #160c28ff;
  border: none;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
button:hover {
  background-color: #e3dfffff;
}
.course-card {
  border: 2px solid #333;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f4f4f4;
}
dialog{
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: .25rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 600px;  
}
::backdrop{
  background-color: rgb(0 0 0 / 50%);
}
dialog button{
  position: absolute;
  top: 23px;
  right: 23px;
  padding: .5rem 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
}

footer {
  background-color: #e3dfffff;
  padding: 1rem 10px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: #160c28ff solid 1px;
  border-radius: 22px;
  color: #160c28ff;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: #6c698dff;
}