/* @media only screen and (min-width: 600px) {

    header,
    main,
    nav,
    footer {
        max-width: 100%;
        margin: auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navigation a {
        display: flex;
        border: none;

    }

    .profile-section {
        display: flex;
        gap: 20px;
        margin-bottom: 2em;
    }

    .about,
    .photo {
        flex: 1;
        background-color: #e0e0e0;
        padding: 1em;
    }

    .profile-section {
        display: grid;
        grid-template-columns: 4fr 2fr;
        gap: 20px;
        margin-bottom: 2em;
    }

    .about,
    .photo {
        margin-bottom: 1rem;
    }

    .buttons {
        display: flex;
    }
*/

@media only screen and (min-width: 600px) {
  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    border: none;
  }

   main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
  }

  .about-photo-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Adjust ratio as needed */
    gap: 1rem;
  }

  .about, .photo {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0;
  }

  .hamburger{
    display: none;
  }
  .profile-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  .buttons {
    flex-direction: row;
  }

  #course-credits {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
 .course-card {
    text-align: center;
  }
  
}