@media only screen and (min-width: 600px) {
  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    border: none;
    gap: 2.5em;

  }

   main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
  }

  .about-photo-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Adjust ratio as needed */
    gap: 1rem;
  }

  .about, .photo {
    background-color: #160c28ff;
    color: #e3dfffff;
    font-size: large;
    padding: 1rem;
    margin: 0;
  }

  .hamburger{
    display: none;
  }
  .profile-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  .buttons {
    flex-direction: row;
  }

  
}